div {
    text-align: center;
    font-size: 30px;
    color: blue;
    
}

/*#pic{*/
/*    img src: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJ3VoxOU34BwRB2RHPxw5zS6J432Y47ekzLaezTv9Zg2cIRsMv");*/
/*    background-repeat: no-repeat;*/
/*}*/
body {
    background-color: #82b1ff;
}