<html>
    <head>
        <title>Adventurer's Choice</title>
        <link rel = "stylesheet" type = "text/css" href= "static/style.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div class = "container blue accent-1">
            <div class = "row">Choose Your Own Adventure!</div>
            <div class = "row" id = "pic">
                <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJ3VoxOU34BwRB2RHPxw5zS6J432Y47ekzLaezTv9Zg2cIRsMv";>
            </div>
            <div class = "row">
                <div class = "col l6">
                    Play
                </div>
                <div class = "col l6">
                    Instructions
                </div>
            </div>
        </div>
    </body>
</html>